$box-shadow: 0px 0px 5px hsla(0, 0%, 47%, 0.267);
$box-radius: 5px;
$txt-padding: 4vh;
$bg-color:  #f9f9f9;
$txt-color: black;

.container {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.cards {
    max-width: 39vh;
    border-radius: $box-radius;
    margin-bottom: 6vh;
    background-color: $bg-color;
    box-shadow: $box-shadow;
}
  
.flag {
    width: 39vh;
    height: 23vh;
    border-radius: $box-radius;
}
.txtContainer {
  color: $txt-color;
  padding: 0 $txt-padding;
  padding-bottom: 2.5vh;
}

/* Card when cliked */
.cardContainer {
    margin-top: 5vh;
}
.card {
    display: flex;
}
.cardFlag {
    width: 65vh;
    height: 43vh;
    border-radius: $box-radius;
}
.section {
    padding-left: 10vh;
    width: 100%;
    height: 43vh;
}
.info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 29vh;
}
.borders {
    border: none;
    box-shadow: 0px 0px 5px hsla(0, 0%, 47%, 0.603);
    padding: 3px 15px;
    margin-left: 8px;
    border-radius: $box-radius;
}