$bg-color: #fafafa;
$txt-color: black;
$padding: 10vh;

.header {
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  height: 70px;
  width: 100%;
  background-color: $bg-color;
  box-shadow: 0px 0px 5px hsla(0, 0%, 47%, 0.486);
}
.title {
    padding-left: $padding;
    color: $txt-color;
    font-weight: 800;
}
.theme{
    padding-right: $padding;
    color: $txt-color;
    font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .title {
    padding-left: 3vh;
 }
  .theme{
  padding-right: 3vh;
  font-weight: 600;
  }
}